.data-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    color: white;
    margin: 0.2rem 0;

    label {}

    .value {
        color: #03eb92;
        font-size: 1.2rem;
    }

    .unit {
        color: #029f63;
        font-size: 0.9rem;
        margin: 0.2rem;
    }

}