.mode-container {
    @media (min-width: 40rem) {
        height: 6rem;
        flex-wrap: nowrap !important;
        overflow: auto;
    }
}


:global {
    label.label {
        color: #fff;
        font-size: 1.3rem;
        font-family: inherit;
        opacity: 0.7;

        &.Mui-focused {
            color: #fff;
            opacity: 0.9;
        }
    }
    .mode {
        opacity: 0.7;
        height: 2rem;
        color: #fff;

        &.active,
        &:hover {
            opacity: 0.9;
        }

        span {
            font-family: inherit;
            color: inherit !important;
        }
    }
   
}