:global {

    label.mode-selection__label {
        color: #fff;
        font-size: 1.3rem;
        font-family: inherit;
        opacity: 0.7;

        &.Mui-focused {
            color: #fff;

            opacity: 0.9;
        }
    }

    .mode-selection__auto {
        opacity: 0.7;
        height: 2rem;

        &.active,
        &:hover {
            opacity: 0.9;
        }

        span {
            font-family: inherit;
            color: #03eb92;
        }
    }

    .mode-selection__remote {
        opacity: 0.7;
        height: 2rem;

        &.active,
        &:hover {
            opacity: 0.9;
        }

        span {
            color: #ffa600;
            font-family: inherit;
        }
    }

    .mode-selection__timer {
        opacity: 0.7;
        height: 2rem;

        &.active,
        &:hover {
            opacity: 0.9;
        }

        span {
            color: #0cf;
            font-family: inherit;
        }
    }
}