:global label.label {
  color: #fff;
  font-size: 1.3rem;
  font-family: inherit;
  opacity: 0.7;
}
:global label.label.Mui-focused {
  color: #fff;
  opacity: 0.9;
}
:global .mode {
  opacity: 0.7;
  height: 2rem;
  color: #fff;
}
:global .mode.active, :global .mode:hover {
  opacity: 0.9;
}
:global .mode span {
  font-family: inherit;
  color: inherit !important;
}