.config-button{
    position: absolute;
    right: 3px;
    top: 3px;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0084ff;
    cursor: pointer;
    color: #fff;
    border: none;
    border-radius: 1px;
    transition: none;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  
    &:hover{
      background-color: #0075e2;
    }
    
    &:active{
      background-color: #0b6ecb;
      top: 3.5px;
      right: 2.5px;
      box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.2);
      color: rgb(244, 244, 244);
    }
  }