.item-image {
  width: 75px;
  background: rgba(0, 0, 0, 0.376);
  border-radius: 3px;
  padding: 0.4rem;
  position: relative;
  > i {
    position: absolute;
    inset: 0.2rem 0.2rem auto auto;
    font-size: 1rem;
  }
  > img {
    display: block;
    height: 1.9rem;
    width: 1.9rem;
    margin: auto;
  }
  > p {
    font-style: normal;
    margin: 0;
    font-size: 0.9rem;
    color: #ffffff45;
    text-align: center;
  }
  > p.highlighted {
    color: #e76969;
  }
}
