.item-image {
  width: 75px;
  background: rgba(0, 0, 0, 0.376);
  border-radius: 3px;
  padding: 0.4rem;
  position: relative;
}
.item-image > i {
  position: absolute;
  inset: 0.2rem 0.2rem auto auto;
  font-size: 1rem;
}
.item-image > img {
  display: block;
  height: 1.9rem;
  width: 1.9rem;
  margin: auto;
}
.item-image > p {
  font-style: normal;
  margin: 0;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2705882353);
  text-align: center;
}
.item-image > p.highlighted {
  color: #e76969;
}