.up-down-input {
    label {
        color: white;
    }

    section {
        display: flex;
        margin: 0.5rem 0;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        overflow: hidden;
        background: #343a40;

        button {
            border: none;
            font-size: 1rem;
            padding: .375rem .75rem;
            color: white;
            background: transparent;
            cursor: pointer;

            &:hover {
                background: #495057;
            }

            &:active {
                background: #49505795;
            }
        }

        button.dec {
            border-right: 1px solid #ced4da;
        }

        input {
            border: none;
            background: transparent;
            color: #fff;
            padding: .375rem .75rem;
            width: 100%;
        }

        button.inc {
            border-left: 1px solid #ced4da;

        }

        span {
            display: flex;
            align-items: center;
            background: transparent;
            color: white;
            padding: .375rem .75rem;
        }
    }
}