.ref-container,
.ctrl-container {
  min-width: 20px;
  max-width: 35rem;
}

.ref-image,
.ctrl-image {
  grid-area: image;
  justify-self: center;
}

.ref-container > main {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas: "image" "datas" "inputs";
}
@media (min-width: 40rem) {
  .ref-container > main {
    grid-template-areas: "image   datas" "inputs   inputs";
  }
}
.ref-container > main .alarm-config {
  grid-area: inputs;
  justify-content: space-around;
}
.ref-container > main .alarm-config .config-alarm-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.ref-container > main .ref-datas {
  grid-area: datas;
}
.ref-container > main .ref-datas .data {
  margin: 0.5rem 1rem;
}

.ctrl-container > main {
  padding: 1rem;
}
.ctrl-container > main .ctrl-card {
  background: #21252c;
}
.ctrl-container > main .ctrl-card > h1 {
  color: black;
  background: #03eb92;
  border-bottom: 2px solid #016d44;
}
.ctrl-container > main .ctrl-card > h1::before {
  background: #016d44;
}
.ctrl-container > main .ctrl-card .ctrl-image {
  padding: 2rem;
}
.ctrl-container > main .ctrl-card .ctrl-image > img {
  display: block;
  width: 8rem;
}
.ctrl-container > main .ctrl-card .ctrl-image > p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f84848;
  margin: 0;
}