.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #3c4452;
  z-index: -1;
}

.detailed-view--header {
  min-width: 22rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #303641;
  padding: 0.55em 1.3em;
  > h1 {
    font-size: 1.1em;
    color: #e4e4e4;
    font-weight: 400;
  }
  > svg {
    color: #03eb92;
  }
}

.detailed-view--container {
  padding: 1rem;
  min-width: 22rem;

  // reference device (tank)
  .reference {
    background-color: #353c48;
    border-radius: 4px;
    > header {
      background-color: #303641;
      padding: 0.5rem 1rem;
      position: relative;
      border-radius: 4px 4px 0 0;

      @media (min-width: 40rem) {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      > div {
        @media (min-width: 40rem) {
          display: flex;
          align-items: center;
          gap: 0.2rem;
        }
      }

      .ref-name,
      .date {
        margin: 0.2rem;
      }

      .ref-name {
        font-size: 0.9em;
        color: #e4e4e4;
        font-weight: 400;
        text-align: center;
        @media (min-width: 40rem) {
        }
      }
      .date {
        display: block;
        font-size: 0.8em;
        color: rgb(12, 187, 141);
        font-weight: 400;
        text-align: center;
        @media (min-width: 40rem) {
        }
      }
      .wifi-icon {
        position: absolute;
        top: 8px;
        right: 20px;
        color: rgb(12, 187, 141);
        font-size: 2.5rem;
        @media (min-width: 40rem) {
          position: relative;
          top: -3px;
          left: 0;
          font-size: 2rem;
        }
      }
    }

    > main {
      display: grid;
      gap: 1rem;
      padding: 1rem;
      grid-template-areas:
        "ref-immage"
        "ref-datas"
        "ref-alarms";
      .ref-image {
        grid-area: "ref-image";
        justify-self: center;
      }

      .ref-datas {
        grid-area: "ref-datas";
      }

      .ref-alarms,
      .ref-datas {
        .data {
          margin: 0.5rem 1rem;
          p {
            color: #03eb92;
            font-size: 1.3rem;
            span {
              color: inherit;
              font-size: 0.7rem;
            }
          }
        }
      }

      .ref-alarms {
        justify-content: space-around;
        > div {
          display: flex;
          align-items: center;
          > span {
            color: #fff;
          }
        }
        .data {
          margin: 0.5rem 0rem;
        }
      }
    }
  }
}
