.ref-container,
.ctrl-container {
  min-width: 20px;
  max-width: 35rem;
}

.ref-image,
.ctrl-image {
  grid-area: image;
  // grid-template-columns: repeat(content-fit, minmax(1fr,));
  justify-self: center;
}

.ref-container {
  > main {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-areas:
      "image"
      "datas"
      "inputs";

    @media (min-width: 40rem) {
      grid-template-areas:
        "image   datas"
        "inputs   inputs";
    }

    .alarm-config {
      grid-area: inputs;
      justify-content: space-around;
    }

    .ref-datas {
      grid-area: datas;

      .data {
        margin: 0.5rem 1rem;
      }
    }
  }
}

.ctrl-container {
  >main {
    padding: 1rem;

    .ctrl-card {
      background: #21252c;

      >h1 {
        color: black;
        background: #03eb92;
        border-bottom: 2px solid #016d44;

        &::before {
          background: #016d44;
        }
      }

      .ctrl-image {
        padding: 2rem;

        >img {
          display: block;
          width: 8rem;
        }

        >p {
          text-align: center;
          font-size: 1.8rem;
          font-weight: 500;
          color: #f84848;
          margin: 0;
        }
      }
    }
  }
}