.background {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #3c4452;
  z-index: -1;
}

.detailed-view--header {
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #303641;
  padding: 0.55em 1.3em;
  > h1 {
    font-size: 1.1em;
    color: #e4e4e4;
    font-weight: 400;
  }
  > svg {
    color: #03eb92;
  }
}

.detailed-view--container {
  padding: 1rem;
  min-width: 20rem;

  // reference device (tank)
  .reference {
    background-color: #353c48;
    border-radius: 4px;
    > header {
      background-color: #303641;
      padding: 0.5rem 1rem;
      position: relative;
      border-radius: inherit;
      .ref-name {
        font-size: 0.9em;
        color: #e4e4e4;
        font-weight: 400;
        text-align: center;
      }
      .date {
        display: block;
        font-size: 0.8em;
        color: rgb(12, 187, 141);
        font-weight: 400;
        text-align: center;
      }
      .wifi-icon {
        position: absolute;
        top: 0.5rem;
        right: 0.75rem;
        color: rgb(12, 187, 141);
        font-size: 2rem;
      }
    }

    > main {
      margin: 1rem;
      display: grid;
      gap: 1rem;
      grid-template-areas:
        "ref-immage"
        "ref-datas"
        "ref-alarms";
      .ref-image {
        grid-area: "ref-image";
        justify-self: center;
      }
      .ref-datas {
        position: relative;
        background-color: #303641;
        border-radius: 4px;
        border: 1px solid #495963;
        padding-top: 2.5em;
        display: flex;
        justify-content: center;
        > h1 {
          position: absolute;
          top: 10px;
          left: -5px;
          color: #fff;
          background: #2c8bd8;
          font-weight: 400;
          text-align: center;
          padding: 0.2rem;
          width: 9rem;
          box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 16%);
          border-bottom: 2px solid #154770;

          &::before {
            content: "_";
            top: 26px;
            left: 1px;
            position: absolute;
            background: #154770;
            clip-path: polygon(100% 0, 0 0, 100% 76%);
            font-size: 6px;
          }
        }
        
        .data {
          margin: 0.5rem 1rem;
          p {
            color: #03eb92;
            font-size: 1.3rem;
            span {
              color: inherit;
              font-size: 0.7rem;
            }
          }
        }
      }

      
    }
  }
}
