.pump-card {
  min-width: 20px;
  max-width: 35rem;
}

.ctrl-image {
  grid-area: image;
  justify-self: center;
}

.tank-card {
  min-width: 20px;
  max-width: 35rem;
}
.tank-card .tank-card__body {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas: "image" "datas" "inputs";
}
@media (min-width: 40rem) {
  .tank-card .tank-card__body {
    grid-template-areas: "image   datas" "inputs   inputs";
  }
}
.tank-card .tank-card__body .tank-image {
  grid-area: image;
  justify-self: center;
}
.tank-card .tank-card__body .tank-datas {
  grid-area: datas;
}
.tank-card .tank-card__body .tank-datas .data {
  margin: 0.5rem 1rem;
}
.tank-card .tank-card__body .tank-alarm {
  grid-area: inputs;
  justify-content: space-around;
}
.tank-card .tank-card__body .tank-alarm .quickView-alarm-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tank-card .tank-card__body .tank-alarm .largeView-alarm-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.pump-card .pump-card--nested {
  margin: 1rem;
  background: #21252c;
}
.pump-card .pump-card--nested .nested-card__body {
  width: 100%;
}
.pump-card .pump-card--nested .nested-card__body .pump-performance .pump-performance__body {
  width: 100%;
}