<span
  id="chartobject-1"
  class="fusioncharts-container"
  style="
    position: relative;
    text-align: left;
    line-height: normal;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    border: none;
    direction: ltr;
    width: 200px;
    height: 170px;
  "
  ><svg
    height="170"
    version="1.1"
    width="200"
    xmlns="http://www.w3.org/2000/svg"
    id="raphael-paper-3"
    style="
      overflow: hidden;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      user-select: none;
      cursor: default;
      vertical-align: middle;
      position: relative;
      left: -0.666671px;
      top: -0.940977px;
      background-color: rgb(255, 255, 255);
    "
  >
    <desc></desc>
    <defs>
      <linearGradient
        id="rr-3-360-rgba_255_255_255_0.5__0-rgba_204_204_204_0.5__15-rgba_255_255_255_0.5__15.001-rgba_255_255_255_0.5__27-rgba_204_204_204_0.5__27.001-rgba_0_87_159_0.7000000000000001__42-rgba_204_204_204_0.5__85-rgba_255_255_255_0.5__100"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
      >
        <stop offset="0%" stop-color="#ffffff" stop-opacity="0.5"></stop>
        <stop offset="15%" stop-color="#cccccc" stop-opacity="0.5"></stop>
        <stop offset="15.001%" stop-color="#ffffff" stop-opacity="0.5"></stop>
        <stop offset="27%" stop-color="#ffffff" stop-opacity="0.5"></stop>
        <stop offset="27.001%" stop-color="#cccccc" stop-opacity="0.5"></stop>
        <stop
          offset="42%"
          stop-color="#00579f"
          stop-opacity="0.7000000000000001"
        ></stop>
        <stop offset="85%" stop-color="#cccccc" stop-opacity="0.5"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0.5"></stop>
      </linearGradient>
      <linearGradient
        id="rr-3-360-rgba_255_255_255_0.3__0-rgba_204_204_204_0.3__15-rgba_255_255_255_0.3__58-rgba_204_204_204_0.3__73-rgba_229_229_229_0.3__73.001-rgba_229_229_229_0.3__85-rgba_204_204_204_0.3__85.001-rgba_255_255_255_0.3__100"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
      >
        <stop offset="0%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="15%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="58%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="73%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="73.001%" stop-color="#e5e5e5" stop-opacity="0.3"></stop>
        <stop offset="85%" stop-color="#e5e5e5" stop-opacity="0.3"></stop>
        <stop offset="85.001%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0.3"></stop>
      </linearGradient>
      <linearGradient
        id="rr-3-360-rgba_255_255_255_0.3__0-rgba_204_204_204_0.3__15-rgba_255_255_255_0.3__15.001-rgba_255_255_255_0.3__27-rgba_204_204_204_0.3__27.001-rgba_255_255_255_0.3__42-rgba_204_204_204_0.3__85-rgba_255_255_255_0.3__100"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
      >
        <stop offset="0%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="15%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="15.001%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="27%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="27.001%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="42%" stop-color="#ffffff" stop-opacity="0.3"></stop>
        <stop offset="85%" stop-color="#cccccc" stop-opacity="0.3"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0.3"></stop>
      </linearGradient>
      <linearGradient
        id="rr-3-360-rgba_255_255_255_0.4__0-rgba_204_204_204_0__100-rgba_255_255_255_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_"
        x1="0"
        y1="0"
        x2="1"
        y2="0"
      >
        <stop offset="0%" stop-color="#ffffff" stop-opacity="0.4"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
      </linearGradient>
      <linearGradient
        id="rr-3-180-rgba_255_255_255_0.4__0-rgba_204_204_204_0__100-rgba_255_255_255_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_"
        x1="1"
        y1="1.2246467991473532e-16"
        x2="0"
        y2="0"
      >
        <stop offset="0%" stop-color="#ffffff" stop-opacity="0.4"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="0"></stop>
        <stop offset="100%" stop-color="#ffffff" stop-opacity="0"></stop>
      </linearGradient>
      <clipPath id="rr-4F026DF2-84BB-4DF1-978E-4F88652D3153">
        <rect
          x="16.5"
          y="16.5"
          width="100"
          height="110.2"
          transform="matrix(1,0,0,1,0,0)"
        ></rect>
      </clipPath>
      <clipPath id="rr-16899F38-3653-4551-B933-15CDEFF8B7FB">
        <rect
          x="16.5"
          y="16.5"
          width="100"
          height="110.2"
          transform="matrix(1,0,0,1,0,0)"
        ></rect>
      </clipPath>
      <radialGradient
        id="rr-3-xr___100__0.5_0__rgba_76_164_236_1__0-rgba_0_87_159_1__100"
        r="100%"
        cx="0.5"
        cy="0"
        fx="0.5"
        fy="0"
      >
        <stop offset="0%" stop-color="#4ca4ec" stop-opacity="1"></stop>
        <stop offset="100%" stop-color="#00579f" stop-opacity="1"></stop>
      </radialGradient>
      <radialGradient
        id="rr-3-xr___100__0.5_0.7__rgba_76_164_236_1__0-rgba_0_87_159_1__100"
        r="100%"
        cx="0.5"
        cy="0.7"
        fx="0.5"
        fy="0.7"
      >
        <stop offset="0%" stop-color="#4ca4ec" stop-opacity="1"></stop>
        <stop offset="100%" stop-color="#00579f" stop-opacity="1"></stop>
      </radialGradient>
    </defs>
    <g class="raphael-group-4-parentgroup">
      <g class="raphael-group-5-background">
        <rect
          x="0"
          y="0"
          width="200"
          height="170"
          stroke="none"
          fill-opacity="1"
          fill="#353c48"
          ry="0"
          rx="0"
        ></rect>
        <rect
          x="0"
          y="0"
          width="200"
          height="170"
          stroke="#767575"
          stroke-opacity="0.5"
          stroke-width="0"
          stroke-dasharray="none"
          fill="none"
          ry="0"
          rx="0"
        ></rect>
      </g>
      <g class="raphael-group-23-canvas"></g>
      <g class="raphael-group-7-belowplot"></g>
      <g class="raphael-group-6-axisbottom">
        <g class="raphael-group-42-dataset-Trend-group-bottom">
          <g class="raphael-group-49-dataset-axis-trend-bottom"></g>
        </g>
      </g>
      <g
        class="raphael-group-25-axisReferenceVisualsFloor"
        clip-path="url('#rr-4F026DF2-84BB-4DF1-978E-4F88652D3153')"
      ></g>
      <g class="raphael-group-24-axisReferenceVisualsBottom"></g>
      <g class="raphael-group-26-crossline"></g>
      <g class="raphael-group-27-crosslineBottom"></g>
      <g
        class="raphael-group-30-axisReferenceVisualsMiddle"
        clip-path="url('#rr-16899F38-3653-4551-B933-15CDEFF8B7FB')"
      ></g>
      <g class="raphael-group-32-quadrant"></g>
      <g class="raphael-group-8-plots">
        <g class="raphael-group-34-column-shadow-group"></g>
        <g class="raphael-group-35-column"></g>
        <g class="raphael-group-36-area-shadow-group"></g>
        <g class="raphael-group-37-area"></g>
        <g class="raphael-group-38-line-shadow-group"></g>
        <g class="raphael-group-39-line"></g>
        <g class="raphael-group-40-default-shadow-group"></g>
        <g class="raphael-group-41-default"></g>
        <g class="raphael-group-78-cylinder">
          <path
            stroke-width="4"
            stroke="#cccccc"
            stroke-opacity="0.8"
            d="M14.5,130.7A52,8.5,0,0,0,118.5,130.7L118.5,130.701A52,8.5,0,0,0,14.5,130.701Z"
            fill="none"
            stroke-linecap="round"
          ></path>
          <path
            stroke-width="4"
            stroke="#cccccc"
            stroke-opacity="0.5"
            d="M16.5,130.7A50,6.5,0,0,0,116.5,130.7L116.5,130.701A50,6.5,0,0,0,16.5,130.701Z"
            fill="none"
            stroke-linecap="round"
          ></path>
          <path
            fill="url('#rr-3-360-rgba_255_255_255_0.5__0-rgba_204_204_204_0.5__15-rgba_255_255_255_0.5__15.001-rgba_255_255_255_0.5__27-rgba_204_204_204_0.5__27.001-rgba_0_87_159_0.7000000000000001__42-rgba_204_204_204_0.5__85-rgba_255_255_255_0.5__100')"
            fill-opacity="1"
            stroke-width="0"
            d="M16.5,126.7A50,6.5,0,0,0,116.5,126.7A50,6.5,0,0,0,16.5,126.7Z"
            stroke="#000000"
            stroke-linecap="round"
          ></path>
          <path
            fill="url('#rr-3-360-rgba_255_255_255_0.3__0-rgba_204_204_204_0.3__15-rgba_255_255_255_0.3__58-rgba_204_204_204_0.3__73-rgba_229_229_229_0.3__73.001-rgba_229_229_229_0.3__85-rgba_204_204_204_0.3__85.001-rgba_255_255_255_0.3__100')"
            fill-opacity="1"
            stroke-width="1"
            d="M16.5,126.7A50,6.5,0,0,0,116.5,126.7L116.5,16.5A50,6.5,0,0,0,16.5,16.5Z"
            stroke="#cccccc"
            stroke-opacity="0.5"
            stroke-linecap="round"
          ></path>
          <!-- ych agua del tanque -->
          <path
            fill="url('#rr-3-xr___100__0.5_0__rgba_76_164_236_1__0-rgba_0_87_159_1__100')"
            fill-opacity="1"
            d="M16.5,126.7A50,6.5,0,0,0,116.5,126.7L116.5,87.37A50,6.5,0,0,1,16.5,87.37Z"
            stroke-width="0"
            stroke="#000000"
            stroke-linecap="round"
          ></path>
          <!-- ych tapa del tanque -->
          <path
            fill="url('#rr-3-xr___100__0.5_0.7__rgba_76_164_236_1__0-rgba_0_87_159_1__100')"
            fill-opacity="1"
            d="M18,87.37A48.5,6.5,0,0,0,115,87.37L115,87.37A48.5,6.5,0,0,0,18,87.37Z"
            stroke-width="2"
            stroke="#4ca4ec"
            stroke-opacity="1"
            stroke-linecap="round"
          ></path>
          <!-- ych neblina arriba del tanque -->
          <!-- <path
            fill="url('#rr-3-360-rgba_255_255_255_0.3__0-rgba_204_204_204_0.3__15-rgba_255_255_255_0.3__15.001-rgba_255_255_255_0.3__27-rgba_204_204_204_0.3__27.001-rgba_255_255_255_0.3__42-rgba_204_204_204_0.3__85-rgba_255_255_255_0.3__100')"
            fill-opacity="1"
            stroke-width="1"
            d="M16.5,126.7A50,6.5,0,0,0,116.5,126.7L116.5,16.5A50,6.5,0,0,1,16.5,16.5Z"
            stroke="#cccccc"
            stroke-opacity="0.5"
            stroke-linecap="round"
          ></path> -->
          <path
            fill="url('#rr-3-360-rgba_255_255_255_0.4__0-rgba_204_204_204_0__100-rgba_255_255_255_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_')"
            fill-opacity="1"
            stroke-width="0"
            d="M16.5,126.7A50,6.5,1,0,0,24,130.12408746967714L24,19.92408746967714A50,6.5,0,0,1,16.5,16.5Z"
            stroke="#000000"
            stroke-linecap="round"
          ></path>
          <path
            fill="url('#rr-3-180-rgba_255_255_255_0.4__0-rgba_204_204_204_0__100-rgba_255_255_255_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_-rgba_204_204_204_0_-rgba_255_255_255_0_')"
            fill-opacity="1"
            stroke-width="0"
            d="M109,130.12408746967714A50,6.5,0,0,0,116.5,126.7L116.5,16.5A50,6.5,1,0,0,109,19.92408746967714Z"
            stroke="#000000"
            stroke-linecap="round"
          ></path>
          <path
            stroke-width="2"
            stroke="#cccccc"
            stroke-opacity="0.4"
            d="M16.5,15.5A50,6.5,0,0,0,116.5,15.5L116.5,15.5A50,6.5,0,0,0,16.5,15.5Z"
            fill="none"
            stroke-linecap="round"
          ></path>
        </g>
      </g>
      <g class="raphael-group-9-axistop">
        <g class="raphael-group-43-axis-Line-group">
          <g class="raphael-group-47-axis-line-tick">
            <path
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M0,0"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,126.7L125.5,126.7"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,99.15L125.5,99.15"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,71.6L125.5,71.6"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,44.05L125.5,44.05"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,16.5L125.5,16.5"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,121.19L122.5,121.19"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,115.68L122.5,115.68"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,110.17L122.5,110.17"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,104.66L122.5,104.66"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,93.64L122.5,93.64"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,88.13L122.5,88.13"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,82.62L122.5,82.62"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,77.11L122.5,77.11"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,66.09L122.5,66.09"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,60.58L122.5,60.58"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,55.07000000000001L122.5,55.07000000000001"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,49.56L122.5,49.56"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,38.540000000000006L122.5,38.540000000000006"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,33.03L122.5,33.03"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,27.519999999999996L122.5,27.519999999999996"
              fill="none"
            ></path>
            <path
              opacity="1"
              stroke="#bfbfbf"
              stroke-opacity="1"
              stroke-width="1"
              stroke-linecap="round"
              d="M119.5,22.010000000000005L122.5,22.010000000000005"
              fill="none"
            ></path>
          </g>
        </g>
        <g class="raphael-group-44-dataset-Trend-group-top">
          <g class="raphael-group-48-dataset-axis-trend-top"></g>
          <g class="raphael-group-50-dataset-axis-trend-label"></g>
        </g>
        <g class="raphael-group-45-dataset-Label-group">
          <g
            class="raphael-group-46-dataset-top-label"
            transform="matrix(1,0,0,1,0,0)"
            font-family="Poppins, sans-serif"
            font-size="14px"
            font-weight="normal"
            font-style="normal"
            style="
              font-family: Poppins, sans-serif;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
            "
          >
            <text
              transform="matrix(1,0,0,1,0,0)"
              opacity="1"
              fill-opacity="1"
              fill="#ffffff"
              font-size="14px"
              text-anchor="start"
              x="127.5"
              stroke="none"
              y="131"
              style="font-size: 14px; text-anchor: start"
            >
              0
            </text>
            <text
              transform="matrix(1,0,0,1,0,0)"
              opacity="1"
              fill-opacity="1"
              fill="#ffffff"
              font-size="14px"
              text-anchor="start"
              x="127.5"
              stroke="none"
              y="103"
              style="font-size: 14px; text-anchor: start"
            >
              1.45Mts
            </text>
            <text
              transform="matrix(1,0,0,1,0,0)"
              opacity="1"
              fill-opacity="1"
              fill="#ffffff"
              font-size="14px"
              text-anchor="start"
              x="127.5"
              stroke="none"
              y="76"
              style="font-size: 14px; text-anchor: start"
            >
              2.9Mts
            </text>
            <text
              transform="matrix(1,0,0,1,0,0)"
              opacity="1"
              fill-opacity="1"
              fill="#ffffff"
              font-size="14px"
              text-anchor="start"
              x="127.5"
              stroke="none"
              y="48"
              style="font-size: 14px; text-anchor: start"
            >
              4.35Mts
            </text>
            <text
              transform="matrix(1,0,0,1,0,0)"
              opacity="1"
              fill-opacity="1"
              fill="#ffffff"
              font-size="14px"
              text-anchor="start"
              x="127.5"
              stroke="none"
              y="21"
              style="font-size: 14px; text-anchor: start"
            >
              5.80 Mts
            </text>
          </g>
        </g>
      </g>
      <g class="raphael-group-10-sumlabels fusioncharts-datalabels"></g>
      <g class="raphael-group-31-axisReferenceVisualsTop"></g>
      <g class="raphael-group-33-axisReferenceVisualsCeil"></g>
      <g
        class="raphael-group-11-datalabel"
        font-family="Source Sans Pro"
        font-size="14px"
        font-weight="bold"
        font-style="normal"
        style="
          font-family: 'Source Sans Pro';
          font-size: 14px;
          font-weight: bold;
          font-style: normal;
        "
      >
        <g class="raphael-group-29-canvasdatalabel"></g>
        <g opacity="0">
          <text
            x="66.5"
            text-anchor="middle"
            fill-opacity="1"
            fill="#000000"
            stroke="none"
            y="152"
            style="text-anchor: middle"
          ></text>
        </g>
      </g>
      <g class="raphael-group-28-crosslineTop"></g>
      <g class="raphael-group-12-aboveplot"></g>
      <g class="raphael-group-13-caption"></g>
      <g class="raphael-group-14-chartdefault"></g>
      <g class="raphael-group-15-chartdefault-shadow"></g>
      <!-- <g class="raphael-group-16-tracker">
        <g class="raphael-group-89-tracker-group">
          <path
            stroke="#c0c0c0"
            stroke-opacity="0.000001"
            fill-opacity="0.000001"
            fill="#c0c0c0"
            d="M16.5,126.7,16.5,134.7A50,6.5,0,0,0,116.5,134.7L116.5,126.7,116.5,16.5A50,6.5,0,0,0,16.5,16.5Z"
            stroke-linecap="round"
          ></path>
        </g>
      </g> -->
      <g class="raphael-group-17-toolbar-master">
        <g class="raphael-group-21-toolbar">
          <rect
            fill-opacity="0"
            fill="#eeeeee"
            stroke="#eeeeee"
            stroke-opacity="0"
            stroke-width="1"
            width="0"
            height="0"
            x="190"
            y="6"
            ry="0"
            rx="0"
          ></rect>
        </g>
      </g>
    </g>
    <g class="raphael-group-18-logo"></g>
    <rect
      x="0"
      y="0"
      width="10"
      height="30"
      ry="0"
      rx="0"
      fill="none"
      stroke="#000000"
      style="display: none"
    ></rect>
  </svg>
  <div
    class="fc__tooltip fusioncharts-div"
    style="
      color: rgb(255, 255, 255);
      padding: 6px;
      font-size: 14px;
      overflow: hidden;
      border-width: 1px;
      border-color: rgb(60, 68, 82);
      white-space: nowrap;
      position: absolute;
      border-style: solid;
      background-color: rgba(53, 60, 72, 0.9);
      user-select: none;
      top: 112px;
      left: 58px;
      visibility: hidden;
      pointer-events: none;
      box-shadow: none;
      font-family: Poppins, sans-serif;
      border-radius: 2px;
      will-change: auto;
      max-width: 176px;
    "
  ></div>
  <div
    type="div"
    style="
      left: auto;
      top: 0px;
      padding: 5px 3px;
      border: 1px solid rgb(100, 100, 100);
      margin: 0px;
      outline: none;
      position: absolute;
      z-index: 50;
      right: auto;
      overflow: hidden;
      background: rgb(255, 255, 255);
      box-shadow: rgb(153, 153, 153) 2px 2px 5px;
      display: none;
    "
  ></div
></span>
