.pump-container {
  padding: 1.8rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.pump-container .pump-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.pump-container .pump-image > img {
  width: 8rem;
}
.pump-container .pump-image > p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f84848;
}
.pump-container .pump-datas {
  width: 50%;
  overflow: auto;
  max-height: 10rem;
}
.pump-container .pump-datas .data-scroll {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}