.pump-container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 40rem) {
  .pump-container {
    flex-direction: row;
    height: 10rem;
  }
}
.pump-container .pump-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 0.5rem;
}
.pump-container .pump-image > img {
  width: 8rem;
}
.pump-container .pump-image > p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #f84848;
}
.pump-container .pump-datas {
  width: 100%;
  height: 100%;
}
.pump-container .pump-datas .scroll-container {
  width: 100%;
  overflow: auto;
  max-height: 6.5rem;
}
.pump-container .pump-datas .scroll-container .datas-container {
  display: flex;
  flex-direction: column;
  padding: 0rem 0.2rem;
}