.pump {
    padding: 2rem;

    >img {
        display: block;
        width: 8rem;
    }

    >p {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 500;
        color: #f84848;
        margin: 0;
    }
}