.card {
  width: 100%;
  max-width: 38rem;
  background-color: #353c48;
  border-radius: 4px;
  > header {
    background-color: #303641;
    padding: 0.5rem 1rem;
    position: relative;
    border-radius: 4px 4px 0 0;

    @media (min-width: 40rem) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    > h1 {
      font-size: 1.2em;
      color: #e4e4e4;
      font-weight: 400;
      text-align: center;
      margin: 0.2rem;
    }

    > section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      > span {
        font-size: 1em;
        color: rgb(12, 187, 141);
        font-weight: 400;
        text-align: center;
        margin: 0.2rem auto;
      }

      > i {
        position: absolute;
        inset: 1.2rem 0.6rem auto auto;
        color: rgb(12, 187, 141);
        font-size: 2.5rem;
        @media (min-width: 40rem) {
          position: relative;
          inset: -0.1rem 0rem auto auto;
          font-size: 1.3rem;
        }
      }
    }

    > div {
      @media (min-width: 40rem) {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }
    }
  }
}
