.background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #3c4452;
  z-index: -1;
}

.main{
  position: fixed;
  top: 3.5rem;
  width: 100%;
  height: calc(100vh - 3.5rem);
  overflow: auto;
}
