.data-cotainer {
    padding: 0.3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.data-cotainer h3 {
    margin: 0;
    color: #fff;
    opacity: 0.7;
    font-size: .8rem;
    font-weight: 400;
}

.data-cotainer p {
    margin: 0;
    color: #fff;
    font-size: .8rem;

}

.data-cotainer p span {
    font-size: .5rem;
    opacity: 0.7;
    color: #fff;
}