.quickview-container {
  padding: 0.5rem;
  background-color: transparent;
  display: grid;
  gap: 0.5rem;

  @media (min-width: 40rem) {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(39.5rem, 1fr));
  }
}
