.button {
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #8a2b06;
  border-radius: 25px;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  color: #8a2b06;
  background-color: white;
}

button:hover.button {
  color: white;
  background-color: #5a1a01;
}

.button.highlighted {
  color: white;
  background-color: #8a2b06;
}

button:hover.button.highlighted {
  color: white;
  background-color: #5a1a01;
}

button:disabled.disabled,
button:disabled:hover.disabled,
button:disabled:active.disabled {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
