.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem auto;
  border-radius: 7px;
  border: none;
  padding: 0.5rem 1.2rem;
  background-color: hsla(0, 0%, 100%, 0.91);
  color: #114269;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

button:hover.button {
  background-color: #114269;
  color: hsla(0, 0%, 100%, 0.91);
}

.button i {
  display: flex;
}

button:disabled.disabled,
button:disabled:hover.disabled,
button:disabled:active.disabled {
  border-color: #ccc;
  background-color: #ccc;
  color: #292929;
  cursor: not-allowed;
}
