.item-container {
  background: #353c48;
  padding-bottom: 1px;
  border-radius: 4px;
  overflow: hidden;

  .item-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1em;
    padding: 0.7em;
    background: #303641;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.192);

    .item-header_title,
    .item-header_mode {
      font-size: 0.9rem;
      font-weight: 400;
    }

    .item-header_title {
      margin: 0;
      color: #fff;
      @media (min-width: 40rem) {
        cursor: pointer;
      }
    }
    .item-header_mode {
      color: #03eb92;
    }

    .item-header_icon{
      position: absolute;
      right: 0.8rem;
    }

  }
  > main {
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
    @media (min-width: 40rem) {
      flex-direction: row;
    }
    .item {
      background: linear-gradient(180deg, #415166 0, #374556);
      border-radius: 3px;
      padding: 0.5rem;
      box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 19%);
      display: flex;
      gap: 1rem;
      width: 100%;
      max-width: 37.1rem;

      @media (min-width: 40rem) {
        max-width: 49.3%;
      }

      .data-container {
        display: flex;
        gap: 0.5rem;
        overflow: auto;
        @media (min-width: 40rem) {
          overflow: auto;
        }

        &::-webkit-scrollbar:horizontal {
          height: 5px;
        }
      }
    }
  }
}
