.item-container {
  max-width: 42rem;
  background: #353c48;
  padding-bottom: 1px;
  border-radius: 4px;
  > header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1em;
    padding: 0.7em;
    background: #303641;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.192);

    > h1,
    > span {
      font-size: 0.9rem;
      font-weight: 400;
    }

    > h1 {
      margin: 0;
      color: #fff;
      @media (min-width: 40rem) {
        cursor: pointer;
      }
    }
    > span {
      color: #03eb92;
    }
    > .flag-icon,
    > .checked-icon {
      right: 12px;
      position: absolute;
      color: #03eb92;
      font-size: 1.2rem;
    }

    > .checked-icon {
      color: #03eb92;
    }

    > .flag-icon {
      color: #bb6c34;
    }

    .claim-badge {
      inset: 4px 5px auto auto;
      position: absolute;
      font-size: 0.5rem;
      color: #cd834f;
    }
  }
  > main {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    @media (min-width: 40rem) {
      flex-direction: row;
    }
    .item {
      background: linear-gradient(180deg, #415166 0, #374556);
      border-radius: 3px;
      padding: 0.5rem;
      box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 19%);
      display: flex;
      gap: 1rem;

      @media (min-width: 40rem) {
        display: flex;
      }

      .data-container {
        display: flex;
        gap: 0.5rem;
        overflow: auto;
        @media (min-width: 40rem) {
          max-width: 13.4rem;
          overflow: auto;
        }

        &::-webkit-scrollbar:horizontal {
          height: 5px; // ancho del scroll hotizontal
        }
      }
    }
  }
}
