.detailed-view--header {
  position: relative;
  display: flex;
  min-width: 22rem;
  justify-content: space-between;
  align-items: center;
  background: #303641;
  padding: 0.55em 1.3em;
  >h1 {
    font-size: 1.5em;
    color: #e4e4e4;
    font-weight: 400;
  }
  >i{
    font-size: 1.4rem;
  }
}

.detailed-view--main {
  padding: 1rem;
  min-width: 22rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
