.detailed-view--header {
  position: relative;
  min-width: 22rem;
  margin-top: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #303641;
  padding: 0.55em 1.3em;
  .header_title {
    font-size: 1.1em;
    color: #e4e4e4;
    font-weight: 400;
  }
  .header_icon {
    inset: 10px 8px auto auto;
  }
  // > svg {
  //   color: #03eb92;
  //   font-size: 1.4rem;
  // }
}

.detailed-view--main {
  padding: 1rem;
  min-width: 22rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
