@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather&family=Poppins:wght@400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}
<<<<<<< HEAD
=======

button,
input,
optgroup,
select,
textarea,
h1,
h2,
h3 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}
>>>>>>> 92f1250 (The DetailedView component was added to the project)
