.datas {
  position: relative;
  background-color: #303641;
  border-radius: 4px;
  border: 1px solid #495963;
  padding-top: 2.5em;
  display: flex;
  justify-content: center;
  > h1 {
    position: absolute;
    top: 10px;
    left: -5px;
    color: #fff;
    background: #2c8bd8;
    font-weight: 400;
    text-align: center;
    padding: 0.2rem 1rem;
    box-shadow: 2px 2px 4px 1px rgb(0 0 0 / 16%);
    border-bottom: 2px solid #154770;

    &::before {
      content: "_";
      top: 32px;
      left: 1px;
      position: absolute;
      background: #154770;
      clip-path: polygon(100% 0, 0 0, 100% 76%);
      font-size: 6px;
    }
  }
}
