.icon-container {
  font-style: normal;
  position: absolute;

  .flag-icon,
  .checked-icon {
    right: 12px;
    position: absolute;
    color: #03eb92;
    font-size: 1.2rem;
  }

  .checked-icon {
    color: #03eb92;
  }

  .flag-icon {
    color: #bb6c34;
  }

  .claim-badge {
    inset: -9px 8px auto auto;
    position: absolute;
    font-size: 0.5rem;
    color: #cd834f;
  }
}
