.icon-container {
  display: flex;
  position: relative;
  font-style: normal;

  .checked-icon {
    color: #03eb92;
  }

  .flag-icon {
    color: #bb6c34;
  }

  .claim-badge {
    $claim-size: 0.5rem;
    inset: -$claim-size -0.2rem auto auto;
    position: absolute;
    font-size: $claim-size;
    color: #cd834f;
  }
}
